head
  meta(charset="utf-8")
  meta(name="description" content=config.description)
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  title #{config.title}

  link(rel="stylesheet", href=url_for('css/main.css'))
