article.article
  h1.title.is-2
    if index
      a(href=url_for(post.path)) #{post.title}
    else
      = post.title
  h2.subtitle.is-6 #{date(post.date)}
  hr
  .content
    if post.excerpt && index
      != post.excerpt
      small
        a(href=url_for(post.path) + "#more") Read more…
    else
      != post.content
