@import "../../node_modules/bulma/sass/utilities/all";

$family-primary: 'Lato';

$primary: #5e3448;
$primary-invert: findColorInvert($primary);

$link: $primary;
$link-invert: $primary-invert;

$colors: (
  white: ($white, $black), 
  black: ($black, $white), 
  light: ($light, $light-invert), 
  dark: ($dark, $dark-invert), 
  primary: ($primary, $primary-invert), 
  info: ($info, $info-invert), 
  success: ($success, $success-invert), 
  warning: ($warning, $warning-invert), 
  danger: ($danger, $danger-invert)
);
