@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,500,500i|Pacifico');
@import "variables";
@import "../../node_modules/bulma/bulma";

.site-title {
  font-family: 'Pacifico';
  font-size: 1.75rem;
}

.article:not(:last-of-type) {
  margin-bottom: 5rem;
}

.content {
  .gallery {
    display: flex;
    flex-flow: row wrap;
    
    @include tablet {
      margin: 0 auto;
      width: 75%;
    }
  }

  img {
    flex: auto;
    align-self: center;
    object-fit: cover;
    width: calc(100% / 3 - .5rem);
    margin: .25rem;

    @include mobile {
      margin: .25rem -.75rem;
      width: auto;
      max-width: 100vw;
    }
  }
}
